# Copiar este archivo a .env y ajustar los valores

# Django
DJANGO_SETTINGS_MODULE=config.settings.docker
SECRET_KEY=cambia-esta-clave-secreta-por-una-segura
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos PostgreSQL
POSTGRES_DB=sagec
POSTGRES_USER=sagec
POSTGRES_PASSWORD=cambia-esta-contrasena
POSTGRES_HOST=db
POSTGRES_PORT=5432

# API Panamá Emprende
API_PANAMA_EMPRENDE_URL=https://api.panamaemprende.gob.pa/api/consulta/multiple
API_PANAMA_EMPRENDE_USER=cert
API_PANAMA_EMPRENDE_PASSWORD=tu_password_aqui
USE_MOCK_API=False
